<%= form_for([@device, @network]) do |f| %>
	<% if @network.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<p><%= pluralize @network.errors.count, 'error' %> prohibited this network from being saved:</p>

			<ul>
				<% @network.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
	</div>

	<%= f.submit class: 'btn btn-primary' %>
	<%= link_to 'Cancel', @network, class: 'btn btn-link' %>
<% end %>
