<h1>
	Listing networks

	<% if @device %>
		for <%= render_mac(@device.mac) %>
	<% end %>
</h1>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Devices</th>
			<th colspan="2"></th>
		</tr>
	</thead>

	<tbody>
		<% @networks.each do |network| %>
			<tr>
				<td><%= link_to network.name, network %></td>
				<td><%= link_to pluralize(network.devices.count, 'Device'), network_devices_path(network) %></td>
				<td><%= link_to 'Edit', edit_network_path(network) %></td>
				<td><%= link_to 'Destroy', network, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<% if @device %>
	<%= link_to 'New Network', new_device_network_path(@device), class: 'btn btn-default' %>
<% else %>
	<%= link_to 'New Network', new_network_path, class: 'btn btn-default' %>
<% end %>
