<%= form_for(@device) do |f| %>
	<% if @device.errors.any? %>
		<div class="alert alert-danger" role="alert">
			<p><%= pluralize @device.errors.count, 'error' %> prohibited this device from being saved:</p>

			<ul>
				<% @device.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :mac %>
		<%= f.text_field :mac, class: 'form-control' %>
	</div>

	<%= f.submit class: 'btn btn-primary' %>
	<%= link_to 'Cancel', @device, class: 'btn btn-link' %>
<% end %>
